* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html,
body {
    /* width: 100%; */
    /* height: 100%; */
    background-color: #f5f5f5;
    font-size: 10px;
}

.box1 {
    /* width: 100%; */
    height: 5rem;
    background: #FF8A00;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box1 a img {
    width: 12rem;
    height: 4rem;
}

.box1 div a img {
    width: 2.7rem;
    height: 3.4rem;
    padding-left: 2rem;
}

/* 首页>我的>登录 */
.box2 {
    /* width: 100%; */
    height: 5rem;
    background-color: white;
    line-height: 5rem;
    font-size: 1.6rem;
    text-indent: 2rem;
    border-bottom: 1px solid rgb(187, 183, 183);
}

.box2>span {
    font-weight: 600;
}

/* 注册信息填写 部分 */
.xinxi {
    width: 100%;
    /* margin-top: .5rem; */
}

.xinxi>ul>li {
    list-style: none;
    border-bottom: 1px solid rgb(203, 199, 199);
}

.xinxi>ul>li>input {
    width: 100%;
    display: block;
    height: 5rem;
    border: none;
    outline: none;
    text-indent: 2rem;
}

.xinxi>ul>li:nth-of-type(1) {
    position: relative;
}

/* 手机号 输入错误提示信息 */
.tishi {
    display: block;
    padding: .5rem;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 1.3rem;
    left: 12rem;
    color: white;
    display: none;
    border-radius: 0.5rem;
}

.xinxi>ul>li:nth-of-type(3) {
    position: relative;
}

/* 密码 输入错误提示信息 */
.mima {
    display: block;
    padding: .5rem;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 1.3rem;
    left: 12rem;
    color: white;
    display: none;
    border-radius: 0.5rem;
}




/* 发送验证码 */
.yanzheng {
    width: 8rem;
    /* padding: 0 1rem; */
    height: 3.5rem;
    border: 1px solid rgb(195, 192, 192);
    position: absolute;
    top: .6rem;
    right: 1rem;
    color: black;
    background-color: white;
    line-height: 3.5rem;
    text-align: center;
}




/* 立即注册 */
.liji {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.liji-a {
    display: block;
    width: 90%;
    height: 6rem;
    background-color: #ff8a00;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    line-height: 6rem;
}