* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 10px;
}
body {
  background: #f5f5f5;
}
.box1 {
  width: 100%;
  height: 5rem;
  background: #FF8A00;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box1 a img {
  width: 12rem;
  height: 4rem;
}
.box1 div a img {
  width: 2.7rem;
  height: 3.4rem;
  padding-left: 2rem;
}
.box2 {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background: #fff;
}
.box2 a {
  color: #333;
}
.box2 a:nth-of-type(1) {
  font-weight: 600;
}
.box3 {
  padding: 1rem 1.5rem;
}
.box3 div {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  background: #fff;
  padding: 1rem;
  border: 1px solid #cccccc;
}
.box3 div input {
  width: 80%;
  height: 2rem;
  border: none;
  outline: none;
}
.box3 div span {
  margin-left: 1rem;
}
.box3 div span img {
  width: 2rem;
  height: 2rem;
}
.box4 {
  width: 100%;
  z-index: 5;
}
.box4 > ul {
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 1rem;
}
.box4 > ul li a {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
}
.box4 > ul li span {
  margin-left: 1rem;
  border-top: 5px solid #ccc;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}
.box4 > ul li .sp {
  margin-left: 1rem;
  position: relative;
  bottom: 2rem;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ff8a00;
  border-left: 5px solid transparent;
}
.box4 .item41 {
  display: none;
}
.box4 .item42 div {
  width: 9rem;
  float: left;
  font-size: 2rem;
  height: 31.5rem;
  background: #e0e3e3;
}
.box4 .item42 div p {
  font-weight: 600;
  text-align: center;
  padding: 1rem;
}
.box4 .item42 div .pc {
  background: #fff;
  color: #FF8A00;
}
.box4 .item42 ul {
  float: left;
  width: 28rem;
  display: flex;
  flex-flow: row wrap;
  background: #fff;
}
.box4 .item42 ul li {
  text-align: center;
  width: 12.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.6rem;
}
.box4 .item42 ul .cs {
  color: #FF8A00;
}
.box4 .item43 {
  background: #fff;
}
.box4 .item43 ul {
  padding-bottom: 1rem;
}
.box4 .item43 ul li {
  height: 4rem;
  line-height: 4rem;
  border-bottom: 1px solid #ccc;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.4rem;
  color: #5a5959;
}
.box4 .item43 ul li:nth-last-child(1) {
  border: none;
}
.box4 .item44 {
  background: #fff;
}
.box4 .item44 ul {
  padding-bottom: 1rem;
}
.box4 .item44 ul li {
  height: 4rem;
  line-height: 4rem;
  border-bottom: 1px solid #ccc;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.4rem;
  color: #5a5959;
}
.box4 .item44 ul li:nth-last-child(1) {
  border: none;
}
.box4 .item44 ul li span {
  width: 1.4rem;
  height: 1.5rem;
  float: right;
  margin-top: 1.2rem;
  margin-right: 2rem;
  border: 1px solid #c5c3c3;
}
.box4 .item44 ul li .cxz {
  border: 1px solid #ff8a00;
  background: url(../image/SecondHandList/ok.png) center center no-repeat;
}
.box4 .item44 ul li:nth-last-child(1) {
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background: #FF8A00;
  text-align: center;
}
.box4 .item45 {
  background: #fff;
  padding-bottom: 2rem;
}
.box4 .item45 div {
  padding: 0 2rem;
}
.box4 .item45 div h3 {
  padding: 2rem 0 1.2rem 0;
  font-size: 1.8rem;
  padding-left: 2rem;
}
.box4 .item45 div ul {
  padding: 0 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}
.box4 .item45 div ul li {
  text-align: center;
  width: 20%;
  height: 2.5rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  font-size: 1.4rem;
  border: 1px solid #cccccc;
  padding: 0.3rem;
}
.box4 .item45 div p {
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 1.6rem;
}
.box4 .item45 div p:nth-of-type(2) {
  color: #fff;
  background: #ff8a00;
}
.box5 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0rem;
  z-index: 3;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}
.box6 ul {
  padding: 0 2rem;
}
.box6 ul li {
  padding: 2rem 0;
  border-bottom: 1px solid #FF8A00;
}
.box6 ul li:nth-last-child(1) {
  border: none;
}
.box6 ul li a {
  display: flex;
  justify-content: space-between;
  color: #000;
}
.box6 ul li a img {
  width: 9.5rem;
  height: 9.5rem;
}
.box6 ul li a > div {
  width: 21rem;
  font-size: 1.4rem;
}
.box6 ul li a > div h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.box6 ul li a > div div {
  margin-top: 1rem;
}
.box6 ul li a > div div span:nth-of-type(1) {
  color: #6da719;
  float: left;
  padding: 0 0.5rem;
  border: 1px solid #6da719;
  border-radius: 2px;
}
.box6 ul li a > div div span:nth-of-type(2) {
  color: #ff8a00;
  float: right;
  font-weight: 600;
}
.box8 {
  background: #333;
  padding: 2rem;
  color: #939494;
}
.box8 h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #999;
}
.box8 h2 a {
  color: #939494;
}
.box8 > div {
  padding-top: 2rem;
  font-size: 1.4rem;
}
.box8 > div ul {
  display: flex;
  margin-bottom: 2rem;
}
.box8 > div ul li {
  width: 17rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box8 > div ul li img {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}
.box8 > div p {
  text-align: center;
}
